hr{
    opacity: 1;
    background: white!important;
}

.offcanvas-btn,
.offcanvas-btn img{
    position: absolute;
}

.hamburger-close{
    margin-left: 1rem!important;
}

.user-header div span{
    font-size: .5em;
}

.greetings{
    background: var(--cstm-color-1); 
    /* background: -webkit-linear-gradient(to right, #15253F, var(--cstm-color-1)); */
    background-image: url('../assets/blobs.svg'), linear-gradient(to right, #15253F, var(--cstm-color-1)); 
    background-size: cover;
    background-position: center;
}

.greetings span:nth-child(2){
    font-size: .8em;
}

.pairing-wrapper p span,
.verification-flag p span{
    font-size: .6em!important;
}

.pairing-wrapper span,
.verification-flag span{
    font-size: .8em!important;
}

.verification-flag p span span{
    font-size: 1em!important;
}

.device-list-wrapper{
    width: 15rem;
}

.list-wrapper{
    overflow-y: auto;
    max-height: 300px;
}