@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #2196f3;  /* fallback for old browsers */
    background: linear-gradient(#356CFA,#001E58); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    overflow: hidden;
}

.main-container{
    height: 100vh;
    max-width: 500px!important;
}

.wrapper{
    height: 100%;
}


.main-content{
    overflow: hidden;
}

.page-container{
    max-height: 100%;
    height: 100%;
    overflow: auto;
}

