@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --cstm-color-1: #08182F;
    --cstm-color-2: #00D1FF;
    --cstm-color-3: #2C3D5B;
    --cstm-color-4: #E7E7E7;
    --cstm-color-5: #717171;
}

.text-cstm-1{ 
    color: var(--cstm-color-1)!important; }
.text-cstm-2{
    color: var(--cstm-color-2)!important; }
.text-cstm-3{
    color: var(--cstm-color-3)!important; }
.text-cstm-4{
    color: var(--cstm-color-4)!important; }
.text-cstm-5{
    color: var(--cstm-color-5)!important; }


.bg-cstm-1{
    background-color: var(--cstm-color-1)!important; background: var(--cstm-color-1)!important;}
.bg-cstm-2{
    background-color: var(--cstm-color-2)!important; background: var(--cstm-color-2)!important;}
.bg-cstm-3{
    background-color: var(--cstm-color-3)!important; background: var(--cstm-color-3)!important;}
.bg-cstm-4{
    background-color: var(--cstm-color-4)!important; background: var(--cstm-color-4)!important;}
.bg-cstm-5{
    background-color: var(--cstm-color-5)!important; background: var(--cstm-color-5)!important;}



body{
    overflow: hidden;
}

.main-wrapper{
    height: 100vh;
    max-width: 500px!important;
}

.sub-wrapper{
    height: 100%;
}



